<h1>Angular Router app Header</h1>
<!-- <h1>App component</h1>

<nav>
  <ul>
    <li>
      <a routerLink="/first-component" routerLinkActive="active">First</a>
    </li>
    <li>
      <a routerLink="/second-component" routerLinkActive="active">Second</a>
    </li>
    <li>
      <a routerLink="/groceries/1" routerLinkActive="active">Grocert list</a>
    </li>
  </ul>
</nav> -->

<router-outlet></router-outlet>

<!-- <button (click)="loadComponent()">Load component</button>

<ng-template #dynamicContainer></ng-template> -->
